<div class="foto">
</div>
<section class="about">
  <h1>About miniBlog</h1>
  <div class="container">
    <ul class="row">
      <li class="col-sm-6">
        ブログアプリ<br>
       　作ってみました
      </li>
      <li class="col-sm-6">
        140字以内で<br>
        記入してください
      </li>
    </ul>
  </div>
</section>


<section class="function">
  <h1>今後実装予定のもの</h1>
    <div class="container">
      <ul class="row">
        <li class="col-sm-6 col-md-3">
          <%= image_tag 'key.png' %>
          <p>ログイン機能</p>
        </li>
        <li class="col-sm-6 col-md-3">
          <%= image_tag 'mails.png' %>
          <p>メール送信機能</p>
        </li>
        <li class="col-sm-6 col-md-3">
        　<%= image_tag 'girls.png' %>
          <p>友達つながり機能</p>
        </li>
        <li class="col-sm-6 col-md-3">
          <%= image_tag 'comment.png' %>
          <p>コメント投稿機能</p>
        </li>
      </ul>
    </div>
</section>